* {
 box-sizing: border-box;

}

/* =================================
    Base Element Styles
====================================== */

.logo{
    height: 7em;
    border-radius: 1em;
    box-shadow: 0 0 10px black;
    width: 25em;
  }

  .separator{
   border: 0;
   border-top: 1px solid black;

  }
  a {
      color:forestgreen;
  }
 
  a:link{
      text-decoration: none;
      
  }

   a:hover{
     text-decoration: underline;
   }
  .azalea{
      height: 100px;
  }
/* =================================
    Base Layout Styles
====================================== */


/* Layout containers */
.container2{
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  padding-top: 30px;

}
.main-header{
  height: 8em;
  margin-bottom: 150px;
  padding: 1em 0;

}

.p1{
margin-top: 80px;
}

h2{
    text-align: center;
}


.main-nav li{
   margin: 2px 5px; 
   font-size: 18px;
}

.main-nav {
 text-align: center;
}



/* =================================
    Base Element Styles
====================================== */


.facebook{
  height: 2.5em;
}

.pinterest{
  height: 3em;
}

.google{
  height: 3em;
}

h1{
  text-align: center;
}

/* =================================
    Media Queries
====================================== */
@media only screen and (min-width: 769px),
       only screen and (min-width: 700px) and (orientation:landscape)
        {
  .container2{
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
  }

  .p1{
    margin-top: 0px;
  }
  .container1{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;    
  }
  .wrap{
    min-height: 100vh;
  }

   a{
     padding: 0 30px;
   }
  .logo,
  .main-nav,
  .main-nav li{
   display: inline-block;

  }
  

 
}

@media only screen and (min-width: 480px) {
  

}