* {
 box-sizing: border-box;

}

/* =================================
    Base Element Styles
====================================== */
*{
  
  font-family: 'Playfair Display', serif;
}
.logo{
    height: 4em;
    border-radius: .5em;
    box-shadow: 0 0 10px black;
    width: 15em;
    margin-left: 10px;
  }

  .separator{
   border: 0;
   border-top: 1px solid black;

  }
  a {
      color:forestgreen;
  }
 
  a:link{
      text-decoration: none;
      
  }

   a:hover{
     text-decoration: underline;
   }
  .azalea{
      height: 350px;
  }
/* =================================
    Base Layout Styles
====================================== */


/* Layout containers */
.container2{
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  padding-top: 30px;

}
.main-header{
  height: 8em;
  margin-bottom: 70px;
  padding: 1em 0;

}

.p1{
margin-top: 50px;
}

h2{
    text-align: center;
}


.main-nav li{
   margin: 2px; 

   font-size: 18px;
}

.main-nav {
 text-align: center;
}

footer{
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0%;
}


/* =================================
    Base Element Styles
====================================== */


.facebook{
  height: 2.5em;
}

.pinterest{
  height: 3em;
}

.google{
  height: 3em;
}

h1{
  text-align: center;
}

.item1,
.item2,
.item3,
.sun,
.shade,
.annuals,
.new,
.foliage,
.shrubs,
.vines,
.jumbo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 25px;
}

h3{
position: absolute;
top: 95px;
left: 125px;
}

h3 span{
  color: white;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 150px 80px;
  font-size: 20px;
  resize: both;
  overflow:auto;
}


/* =================================
    Media Queries
====================================== */
@media only screen and (min-width: 769px),
       only screen and (min-width: 700px) and (orientation:landscape)
        {

          .main-header{
            margin-bottom: 20px;
          
          }

  .container2{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
  }

  .p1{
    margin-top: 0px;
  }
  .container1{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;    
  }

  .flex-container1{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
  }

  .flex-container2{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 align-content: space-between;

  }

  
  .wrap{
    min-height: 100vh;
  }

   a{
     padding: 0 30px;
   }
  .logo,
  .main-nav,
  .main-nav li{
   display: inline-block;

  }
  

 
}

@media only screen and (min-width: 1200px) {

  .logo{
    height: 7em;
    width: 25em;
  }

  .main-header{
    margin-bottom: 50px;
  }
}